.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgb(240, 232, 232);
  margin-bottom: 20px;
  border-radius: 18px;
  height: 400px;
  width: 350px;
  overflow: hidden;
}

.productImage {
  width: 100%;
  height: 250px;
}

.data {
  text-align: center;
  margin-top: 25px;
}
.smallButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.data h3 {
  color: rgb(10, 11, 11);
  font-size: 20px;
  font-family: "Montserrat", Courier, monospace;
}

.data p {
  color: #34a853;
  font-weight: bold;
}
.link {
  text-decoration: none;
}
